h1 {
    color: darkgreen;
}

h1,
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.bold {
    font-weight: bold;
}

p {
    line-height: 25px;
}

a {
    text-decoration: none;
}

.upper {
    text-transform: uppercase;
}

a:hover {
    text-decoration-line: underline;
}

img {
    float: left;
}