* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.wrapper {
    background-color: whitesmoke;
}

h3  {
    border: 10px solid transparent;
    color: black;
}

h5 {
    border-left: 20px solid transparent;
}

span {
    border-left: 10px solid transparent;
    color: rgba(199, 3, 3, 0.856);
}

ul {
    border-top: 20px solid transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgba(27, 155, 27, 0.835);
    font-weight: 700;
}