* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
}

.wrap {
    position: absolute;
    width: 90%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /* border: 5px solid black; */
}

.names,
.age,
.gender,
.travel,
.diet,
.but,
.notes {
    border: 20px solid white;
    line-height: 40px;
}

.but {
    border: 5px solid white;
    position: absolute;
    width: 10%;
    top: 10%;
    left: 80%;
    transform: translateY(-50%) translateX(-50%);
    font-weight: bold;
}

button {
    border: 3px solid red;
}

.notes {
    border: 3px solid red;
    height: auto;
    background-color: gainsboro;
    color: red;
}

/*  */